/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}
.nombre {
    text-align: center;
}

form {
    max-width: 100%;
    width: 600px; /* Ancho máximo del formulario */
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    /* display: flex;
    flex-wrap: wrap; */
}

.group {
    display: flex;

}

.match {
    text-align: center;
    margin-bottom: 20px;
    width: 100%
}

/* .team {
    display: flex;
    align-items: center;
} */

.flag {
    width: 30px;
    height: auto;
    margin: 0 10px;
}

input[type="text"]{
    padding: 5px;
    border-radius: 7px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espacio entre el formulario y el botón */
}

button:hover {
    background-color: #218838;
}

#results {
    max-width: 100%;
    width: 600px; /* Ancho máximo del contenedor de resultados */
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media screen and (max-width: 750px) {
    .group {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
    }

    .match {
        width: 100%; /* Cambia el ancho de los elementos a 100% para ocupar toda la columna */
    }
}